<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="Rock.Messaging.MessagingSectionHandler, Rock.Messaging"
             name="rock.messaging" />
  </configSections>

  <rock.messaging>
    <messagingScenarioFactory type="Rock.Messaging.RabbitMQ.RabbitMessagingScenarioFactory, Rock.Messaging.RabbitMQ">
      <rabbitSettings>
        <!--Note to consumers: You will need to install RabbitMQ (http://www.rabbitmq.com/install-windows.html) for these settings to work properly! 
            Once you've done that, these settings should Just Work. Y'know, locally.
            
            Also, poke at these values, particularly autoack and parallel requests, depending on your needs.
            Something like OCR or Document I/O might not appreciate 1000 operations thrown at it per second.-->
        <rabbit name="test1" 
                uri="localhost:5672" 
                vHost="/" 
                routingKey="rockFoo" 
                queueName="rockFoo" 
                autoAcknowledge="true"
                exchangeName="rockRabbit"
                exchangeType="direct"
                userName="guest" 
                password="guest"
                maxParallelRequests="2"
                />
      </rabbitSettings>
    </messagingScenarioFactory>
  </rock.messaging>
</configuration>