<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="Rock.Messaging.MessagingSectionHandler, Rock.Messaging"
             name="rock.messaging" />
  </configSections>

  <rock.messaging>
    <messagingScenarioFactory type="Rock.Messaging.ExampleMessagingScenarioFactory, Rock.Messaging.IntegrationTests">
      <intData>123</intData>
    </messagingScenarioFactory>
    
    <messagingScenarioFactory type="Rock.Messaging.AnotherMessagingScenarioFactory, Rock.Messaging.IntegrationTests">
      <boolData>true</boolData>
    </messagingScenarioFactory>
  </rock.messaging>
</configuration>