<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--  -->
<!--  <configSections>-->
<!--    <section type="RockLib.Messaging.MessagingSectionHandler, RockLib.Messaging" name="rocklib.messaging" />-->
<!--  </configSections>-->

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

<!--  <messagingScenarioFactory type="RockLib.Messaging.NamedPipes.NamedPipeMessagingScenarioFactory, RockLib.Messaging" >-->
<!--      -->
<!--  </messagingScenarioFactory>-->
</configuration>