<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Reflectinator" version="0.0.8" targetFramework="net45" />
  <package id="Rock.Core" version="0.0.1-alpha027" targetFramework="net45" />
  <package id="Rock.Logging" version="0.0.1-alpha016" targetFramework="net45" />
  <package id="XSerializer" version="0.1.11" targetFramework="net45" />
</packages>